<?xml version="1.0" encoding="utf-8" standalone="no"?>
<package xmlns="http://www.idpf.org/2007/opf" xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:dcterms="http://purl.org/dc/terms/" version="3.0" xml:lang="en"
	unique-identifier="pub-identifier">
	<metadata>
		<dc:title id="pub-title">{{ title }}</dc:title>
		<dc:language id="pub-language">en</dc:language>
		<dc:date>2012-02-20</dc:date>
		<meta property="dcterms:modified">2012-10-24T15:30:00Z</meta>
		<dc:creator id="pub-creator12">NandeMD</dc:creator>
		<meta property="schema:accessMode">textual</meta>
		<meta property="schema:accessMode">visual</meta>
		<meta property="schema:accessModeSufficient">textual,visual</meta>
		<meta property="schema:accessModeSufficient">textual</meta>
	</metadata>
	<manifest>
		<item id="htmltoc" properties="nav" media-type="application/xhtml+xml" href="toc.xhtml"/>
		{{ chapters }}
	</manifest>
	<spine>
		{{ spine }}
	</spine>
</package>